[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "*"
werkzeug = "*"
flask-dance = "*"
flask = "*"
flask-mail = "*"
celery = "*"
redis = "*"
google-auth-oauthlib = "*"
google-api-python-client = "*"
python-dotenv = "*"
itsdangerous = "*"
flask-jwt-extended = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
